@import "variables";
@import "mixins/responsive";

html, body{
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;

}

.is-hidden{
  display:none;
}

nav {
  background-color: $void;
  position:fixed;
  border-bottom: 10px solid $dark;
  top:0;
  width:100%;
  @include screen-sm{
    border-bottom: none;
  }

  ul{
    margin:0;
    padding:0;
    color: white;
    list-style-type:none;
    li{
      float:right;
      a {
        color:white;
        display:inline-block;
        text-align: center;
        text-decoration:none;
        padding:14px 16px;
        &:visited {
          color:white;
        }
        &:hover {
          color:#AAA;

        }
      }
      p {
        color: white;
        display:inline-block;
        text-align: center;
        font-size: 12px;
        padding:17px 16px;
        margin: 0;
      }
  }
}

}

@include screen-sm{
  ul li {
      display:none;
      a {
        width:100%;
      }

      p{
        display: none !important;
      }
  }

  .hamburger {
    &:hover {
      cursor:pointer;
    }
    display:block;
    text-align:right;
    padding:14px 16px;
    color: white;

  }
  .responsive-nav-on{
    display: block;
    float: none;
    text-align: center;
    border-bottom: white 1px solid;
  }
}

.logoutForm{
  display:none;
}
.hero-banner{
  width:100%;
  height:600px;
  @include screen-sm{
    height:400px;
  }
  margin: 0;
  background: url("../images/hero-banner.jpg") no-repeat center center;
  z-index: -1;
  position:relative;
  background-size: 100% 100%;
  overflow:hidden;
    .hero-text{
      color: $white;
      padding-bottom: 30px;
      background-color: $black_sm_trans;
      position:absolute;
      width:100%;
      bottom:250px;
        @include screen-sm{
            bottom: 100px;
          }
      h1{
        margin-left:200px;
        @include screen-sm{
          margin-left: 30px;
        }
      }

      p {
        @extend h1;
        margin-top: 0;
        margin-bottom:0;
        font-size:15px;
      }

    }
}

.wrapper {
  display: flex;
  flex-direction:column;
  background-color:$void;
  .background-white{
    width:80%;
    margin:0 auto;
    background-color:white;
  }
.content {
  display: flex;
  margin-top: 50px;
  margin-left: 15%;
  margin-right: 15%;
  align-items: center;

   .icon{
     font-size:100px;
     margin-right: 20px;
   }
   .text {
     display:inline;
     h1 {

     }
   }
 }
}

.wrapper-form{
  text-align:center;
  background-color:$void;
  height:100%;
  padding-top:300px;
  .form-box{
    background-color:white;
    display:block;
    width: 30%;
    margin:0 auto;
    padding: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    @include screen-sm{
      width:90%;
      padding:20px 10px;
      height: auto;
    }
    input{
      margin: 0 auto;
      display:block;
      padding:15px;
      margin-bottom:10px;
      border: none;
      width:100%;
      background-color: $form_input_back;
    }
    button{


      padding-top:15px;
      padding-bottom:15px;
      width: 100%;
      background-color: $void;
      border:none;
      color:white;
      margin-bottom:10px;
      font-size:15px;
      &:hover{
        cursor:pointer;
        background-color: $dark;
      }
    }
    p {
      font-size:12px;
      color: #CCCCCC;
    }
    a{
      text-decoration: none;
      font-size: 12px;
      color: $void;
    }
    textarea{
      @extend input;
      height: 300px;
      font-family: 'Open Sans', sans-serif;

    }

  }
}


.invalidInput{
    text-align:left;
    .hidden{
      display:none;
}
}
.red-border{
  border: 2px solid red !important;
}
.red-text{
  color:red !important;
  font-size:12px !important;
}


.wrapper-posts{
  background-color: $void;
  overflow:hidden;
  height:100%;
  margin-top: 30px;
  text-align: center;
  .wrapper-table{
    background-color:white;
    display:block;
    width:80%;
    margin:0 auto;
    margin-top:300px;
    padding: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    .search-btn{
      padding-top:15px;
      padding-bottom:15px;
      float:right;
      background-color: $void;
      border:none;
      color:white;
      margin-bottom:10px;
      font-size:15px;
      &:hover{
        cursor:pointer;
        background-color: $dark;
    }
    @include screen-sm{
      float:none;
      display:block;
      width:90%;
      margin:0 auto !important;
    }
  }
    input{
      margin: 0 auto;
      display:inline-block;
      padding:15px;
      margin-bottom:10px;
      border: none;
      width:90%;
      background-color: $form_input_back;
    }
    @include screen-sm{
      width:90%;
      padding:20px 10px;
      height: auto;
    }
  table{
    margin: 20px auto;
    border-collapse: collapse;
    border: black 1px solid;

  td {

    border: black 1px solid;
    padding:16px;
  }
  th {
    border: black 1px solid;
    padding:16px;
  }
  }
}
}
