/* line 4, ../sass/styles.scss */
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* line 11, ../sass/styles.scss */
.is-hidden {
  display: none;
}

/* line 15, ../sass/styles.scss */
nav {
  background-color: #0e0b16;
  position: fixed;
  border-bottom: 10px solid #333;
  top: 0;
  width: 100%;
}
@media (max-width: 768px) {
  /* line 15, ../sass/styles.scss */
  nav {
    border-bottom: none;
  }
}
/* line 25, ../sass/styles.scss */
nav ul {
  margin: 0;
  padding: 0;
  color: white;
  list-style-type: none;
}
/* line 30, ../sass/styles.scss */
nav ul li {
  float: right;
}
/* line 32, ../sass/styles.scss */
nav ul li a {
  color: white;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}
/* line 38, ../sass/styles.scss */
nav ul li a:visited {
  color: white;
}
/* line 41, ../sass/styles.scss */
nav ul li a:hover {
  color: #AAA;
}

@media (max-width: 768px) {
  /* line 52, ../sass/styles.scss */
  ul li {
    display: none;
  }
  /* line 54, ../sass/styles.scss */
  ul li a {
    width: 100%;
  }

  /* line 58, ../sass/styles.scss */
  .hamburger {
    display: block;
    text-align: right;
    padding: 14px 16px;
    color: white;
  }
  /* line 59, ../sass/styles.scss */
  .hamburger:hover {
    cursor: pointer;
  }

  /* line 68, ../sass/styles.scss */
  .responsive-nav-on {
    display: block;
    float: none;
    text-align: center;
    border-bottom: white 1px solid;
  }
}
/* line 76, ../sass/styles.scss */
.hero-banner {
  width: 100%;
  height: 600px;
  margin: 0;
  background: url("../images/hero-banner.jpg") no-repeat center center;
  z-index: -1;
  position: relative;
  background-size: 100% 100%;
  overflow: hidden;
}
@media (max-width: 768px) {
  /* line 76, ../sass/styles.scss */
  .hero-banner {
    height: 400px;
  }
}
/* line 88, ../sass/styles.scss */
.hero-banner .hero-text {
  color: #fff;
  padding-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  bottom: 250px;
}
@media (max-width: 768px) {
  /* line 88, ../sass/styles.scss */
  .hero-banner .hero-text {
    bottom: 100px;
  }
}
/* line 98, ../sass/styles.scss */
.hero-banner .hero-text h1, .hero-banner .hero-text p {
  margin-left: 200px;
}
@media (max-width: 768px) {
  /* line 98, ../sass/styles.scss */
  .hero-banner .hero-text h1, .hero-banner .hero-text p {
    margin-left: 30px;
  }
}
/* line 105, ../sass/styles.scss */
.hero-banner .hero-text p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
}

/* line 115, ../sass/styles.scss */
.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #0e0b16;
}
/* line 119, ../sass/styles.scss */
.wrapper .background-white {
  width: 80%;
  margin: 0 auto;
  background-color: white;
}
/* line 124, ../sass/styles.scss */
.wrapper .content {
  display: flex;
  margin-top: 50px;
  margin-left: 15%;
  margin-right: 15%;
  align-items: center;
}
/* line 131, ../sass/styles.scss */
.wrapper .content .icon {
  font-size: 100px;
  margin-right: 20px;
}
/* line 135, ../sass/styles.scss */
.wrapper .content .text {
  display: inline;
}

/* line 144, ../sass/styles.scss */
.wrapper-login, .wrapper-register {
  text-align: center;
  background-color: #0e0b16;
  height: 100%;
  padding-top: 300px;
}
/* line 149, ../sass/styles.scss */
.wrapper-login .signin-box, .wrapper-register .signin-box, .wrapper-register .register-box {
  background-color: white;
  display: block;
  width: 30%;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
@media (max-width: 768px) {
  /* line 149, ../sass/styles.scss */
  .wrapper-login .signin-box, .wrapper-register .signin-box, .wrapper-register .register-box {
    width: 90%;
    padding: 20px 10px;
    height: auto;
  }
}
/* line 161, ../sass/styles.scss */
.wrapper-login .signin-box input, .wrapper-register .signin-box input, .wrapper-register .register-box input {
  margin: 0 auto;
  display: block;
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  width: 100%;
  background-color: #f2f2f2;
}
/* line 172, ../sass/styles.scss */
.wrapper-login .signin-box button, .wrapper-register .signin-box button, .wrapper-register .register-box button {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  background-color: #0e0b16;
  border: none;
  color: white;
  margin-bottom: 10px;
  font-size: 15px;
}
/* line 183, ../sass/styles.scss */
.wrapper-login .signin-box button:hover, .wrapper-register .signin-box button:hover, .wrapper-register .register-box button:hover {
  cursor: pointer;
  background-color: #333;
}
/* line 188, ../sass/styles.scss */
.wrapper-login .signin-box p, .wrapper-register .signin-box p, .wrapper-register .register-box p {
  font-size: 12px;
  color: #CCCCCC;
}
/* line 192, ../sass/styles.scss */
.wrapper-login .signin-box a, .wrapper-register .signin-box a, .wrapper-register .register-box a {
  text-decoration: none;
  font-size: 12px;
  color: #0e0b16;
}

/* line 208, ../sass/styles.scss */
.invalidInput {
  text-align: left;
}
/* line 213, ../sass/styles.scss */
.invalidInput .hidden {
  display: none;
}

/* line 219, ../sass/styles.scss */
.red-border {
  border: 2px solid red !important;
}

/* line 222, ../sass/styles.scss */
.red-text {
  color: red !important;
  font-size: 12px !important;
}
