/* line 4, ../sass/styles.scss */
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* line 11, ../sass/styles.scss */
.is-hidden {
  display: none;
}

/* line 15, ../sass/styles.scss */
nav {
  background-color: #0e0b16;
  position: fixed;
  border-bottom: 10px solid #333;
  top: 0;
  width: 100%;
}
@media (max-width: 768px) {
  /* line 15, ../sass/styles.scss */
  nav {
    border-bottom: none;
  }
}
/* line 25, ../sass/styles.scss */
nav ul {
  margin: 0;
  padding: 0;
  color: white;
  list-style-type: none;
}
/* line 30, ../sass/styles.scss */
nav ul li {
  float: right;
}
/* line 32, ../sass/styles.scss */
nav ul li a {
  color: white;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}
/* line 38, ../sass/styles.scss */
nav ul li a:visited {
  color: white;
}
/* line 41, ../sass/styles.scss */
nav ul li a:hover {
  color: #AAA;
}
/* line 46, ../sass/styles.scss */
nav ul li p {
  color: white;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  padding: 17px 16px;
  margin: 0;
}

@media (max-width: 768px) {
  /* line 60, ../sass/styles.scss */
  ul li {
    display: none;
  }
  /* line 62, ../sass/styles.scss */
  ul li a {
    width: 100%;
  }
  /* line 66, ../sass/styles.scss */
  ul li p {
    display: none !important;
  }

  /* line 71, ../sass/styles.scss */
  .hamburger {
    display: block;
    text-align: right;
    padding: 14px 16px;
    color: white;
  }
  /* line 72, ../sass/styles.scss */
  .hamburger:hover {
    cursor: pointer;
  }

  /* line 81, ../sass/styles.scss */
  .responsive-nav-on {
    display: block;
    float: none;
    text-align: center;
    border-bottom: white 1px solid;
  }
}
/* line 89, ../sass/styles.scss */
.logoutForm {
  display: none;
}

/* line 92, ../sass/styles.scss */
.hero-banner {
  width: 100%;
  height: 600px;
  margin: 0;
  background: url("../images/hero-banner.jpg") no-repeat center center;
  z-index: -1;
  position: relative;
  background-size: 100% 100%;
  overflow: hidden;
}
@media (max-width: 768px) {
  /* line 92, ../sass/styles.scss */
  .hero-banner {
    height: 400px;
  }
}
/* line 104, ../sass/styles.scss */
.hero-banner .hero-text {
  color: #fff;
  padding-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  bottom: 250px;
}
@media (max-width: 768px) {
  /* line 104, ../sass/styles.scss */
  .hero-banner .hero-text {
    bottom: 100px;
  }
}
/* line 114, ../sass/styles.scss */
.hero-banner .hero-text h1, .hero-banner .hero-text p {
  margin-left: 200px;
}
@media (max-width: 768px) {
  /* line 114, ../sass/styles.scss */
  .hero-banner .hero-text h1, .hero-banner .hero-text p {
    margin-left: 30px;
  }
}
/* line 121, ../sass/styles.scss */
.hero-banner .hero-text p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
}

/* line 131, ../sass/styles.scss */
.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #0e0b16;
}
/* line 135, ../sass/styles.scss */
.wrapper .background-white {
  width: 80%;
  margin: 0 auto;
  background-color: white;
}
/* line 140, ../sass/styles.scss */
.wrapper .content {
  display: flex;
  margin-top: 50px;
  margin-left: 15%;
  margin-right: 15%;
  align-items: center;
}
/* line 147, ../sass/styles.scss */
.wrapper .content .icon {
  font-size: 100px;
  margin-right: 20px;
}
/* line 151, ../sass/styles.scss */
.wrapper .content .text {
  display: inline;
}

/* line 160, ../sass/styles.scss */
.wrapper-form {
  text-align: center;
  background-color: #0e0b16;
  height: 100%;
  padding-top: 300px;
}
/* line 165, ../sass/styles.scss */
.wrapper-form .form-box {
  background-color: white;
  display: block;
  width: 30%;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
@media (max-width: 768px) {
  /* line 165, ../sass/styles.scss */
  .wrapper-form .form-box {
    width: 90%;
    padding: 20px 10px;
    height: auto;
  }
}
/* line 177, ../sass/styles.scss */
.wrapper-form .form-box input, .wrapper-form .form-box textarea {
  margin: 0 auto;
  display: block;
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  width: 100%;
  background-color: #f2f2f2;
}
/* line 186, ../sass/styles.scss */
.wrapper-form .form-box button {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  background-color: #0e0b16;
  border: none;
  color: white;
  margin-bottom: 10px;
  font-size: 15px;
}
/* line 197, ../sass/styles.scss */
.wrapper-form .form-box button:hover {
  cursor: pointer;
  background-color: #333;
}
/* line 202, ../sass/styles.scss */
.wrapper-form .form-box p {
  font-size: 12px;
  color: #CCCCCC;
}
/* line 206, ../sass/styles.scss */
.wrapper-form .form-box a {
  text-decoration: none;
  font-size: 12px;
  color: #0e0b16;
}
/* line 211, ../sass/styles.scss */
.wrapper-form .form-box textarea {
  height: 300px;
  font-family: 'Open Sans', sans-serif;
}

/* line 222, ../sass/styles.scss */
.invalidInput {
  text-align: left;
}
/* line 224, ../sass/styles.scss */
.invalidInput .hidden {
  display: none;
}

/* line 228, ../sass/styles.scss */
.red-border {
  border: 2px solid red !important;
}

/* line 231, ../sass/styles.scss */
.red-text {
  color: red !important;
  font-size: 12px !important;
}

/* line 237, ../sass/styles.scss */
.wrapper-posts {
  background-color: #0e0b16;
  overflow: hidden;
  height: 100%;
  margin-top: 30px;
  text-align: center;
}
/* line 243, ../sass/styles.scss */
.wrapper-posts .wrapper-table {
  background-color: white;
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 300px;
  padding: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
/* line 251, ../sass/styles.scss */
.wrapper-posts .wrapper-table .search-btn {
  padding-top: 15px;
  padding-bottom: 15px;
  float: right;
  background-color: #0e0b16;
  border: none;
  color: white;
  margin-bottom: 10px;
  font-size: 15px;
}
/* line 260, ../sass/styles.scss */
.wrapper-posts .wrapper-table .search-btn:hover {
  cursor: pointer;
  background-color: #333;
}
@media (max-width: 768px) {
  /* line 251, ../sass/styles.scss */
  .wrapper-posts .wrapper-table .search-btn {
    float: none;
    display: block;
    width: 90%;
    margin: 0 auto !important;
  }
}
/* line 271, ../sass/styles.scss */
.wrapper-posts .wrapper-table input, .wrapper-posts .wrapper-table .wrapper-form .form-box textarea, .wrapper-form .form-box .wrapper-posts .wrapper-table textarea {
  margin: 0 auto;
  display: inline-block;
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  width: 90%;
  background-color: #f2f2f2;
}
@media (max-width: 768px) {
  /* line 243, ../sass/styles.scss */
  .wrapper-posts .wrapper-table {
    width: 90%;
    padding: 20px 10px;
    height: auto;
  }
}
/* line 285, ../sass/styles.scss */
.wrapper-posts .wrapper-table table {
  margin: 20px auto;
  border-collapse: collapse;
  border: black 1px solid;
}
/* line 290, ../sass/styles.scss */
.wrapper-posts .wrapper-table table td {
  border: black 1px solid;
  padding: 16px;
}
/* line 295, ../sass/styles.scss */
.wrapper-posts .wrapper-table table th {
  border: black 1px solid;
  padding: 16px;
}
